beautifulsoup4==4.7.1
blinker==1.4
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Mail==0.9.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pygeocoder==1.2.5
requests==2.22.0
soupsieve==1.9.2
urllib3==1.25.3
Werkzeug==0.15.5
